In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
data = pd.read_csv('MetroPT3(AirCompressor).csv')

In [3]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [4]:
data = data.drop(['COMP', 'DV_eletric', 'Towers', 'MPG', 'LPS', 'Pressure_switch', 'Oil_level', 'Caudal_impulses'], axis=1)

In [5]:
def check_conditions(row):
    if (row['timestamp'] >= pd.Timestamp('2020-04-18 00:00') - pd.Timedelta(hours=4) and row['timestamp'] <= pd.Timestamp('2020-04-18 00:00') + pd.Timedelta(hours=4)) or \
       (row['timestamp'] >= pd.Timestamp('2020-05-29 23:30') - pd.Timedelta(hours=4) and row['timestamp'] <= pd.Timestamp('2020-05-29 23:30')) or \
       (row['timestamp'] >= pd.Timestamp('2020-06-05 10:00') - pd.Timedelta(hours=4) and row['timestamp'] <= pd.Timestamp('2020-06-05 10:00')) or \
       (row['timestamp'] >= pd.Timestamp('2020-07-15 14:30') - pd.Timedelta(hours=4) and row['timestamp'] <= pd.Timestamp('2020-07-15 14:30')):
        return 0
    else:
        return 1

In [6]:
data['target'] = data.apply(check_conditions, axis=1)

In [7]:
data.head(5)

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1
4,40,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1

In [8]:
data = data.drop(['timestamp'], axis = 1)

In [9]:
data

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
0,0,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1
1,10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1
2,20,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1
3,30,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1
4,40,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1
...,...,...,...,...,...,...,...,...,...
1516943,15169430,-0.014,8.918,8.906,-0.022,8.918,59.675,0.0425,1
1516944,15169440,-0.014,8.904,8.888,-0.020,8.904,59.600,0.0450,1
1516945,15169450,-0.014,8.890,8.876,-0.022,8.892,59.600,0.0425,1
1516946,15169460,-0.012,8.876,8.864,-0.022,8.878,59.550,0.0450,1
1516947,15169470,-0.014,8.860,8.848,-0.022,8.864,59.475,0.0425,1

In [10]:
#data = preprocessing.StandardScaler().fit(data)

In [11]:
#data

In [12]:
data.describe(include = 'all')

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
count,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06,1.516948e+06
mean,7.584735e+06,1.367826e+00,8.984611e+00,7.568155e+00,5.595619e-02,8.985233e+00,6.264418e+01,2.050171e+00,9.954178e-01
std,4.379053e+06,3.250930e+00,6.390951e-01,3.333200e+00,3.824015e-01,6.383070e-01,6.516261e+00,2.302053e+00,6.753690e-02
min,0.000000e+00,-3.200000e-02,7.300000e-01,-3.600000e-02,-3.200000e-02,7.120000e-01,1.540000e+01,2.000000e-02,0.000000e+00
25%,3.792368e+06,-1.400000e-02,8.492000e+00,8.254000e+00,-2.200000e-02,8.494000e+00,5.777500e+01,4.000000e-02,1.000000e+00
50%,7.584735e+06,-1.200000e-02,8.960000e+00,8.784000e+00,-2.000000e-02,8.960000e+00,6.270000e+01,4.500000e-02,1.000000e+00
75%,1.137710e+07,-1.000000e-02,9.492000e+00,9.374000e+00,-1.800000e-02,9.492000e+00,6.725000e+01,3.807500e+00,1.000000e+00
max,1.516947e+07,1.067600e+01,1.030200e+01,1.028800e+01,9.844000e+00,1.030000e+01,8.905000e+01,9.295000e+00,1.000000e+00

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import precision_score

In [14]:
data1 = data.loc[data['target'] == 1]
data1

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
0,0,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1
1,10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1
2,20,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1
3,30,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1
4,40,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1
...,...,...,...,...,...,...,...,...,...
1516943,15169430,-0.014,8.918,8.906,-0.022,8.918,59.675,0.0425,1
1516944,15169440,-0.014,8.904,8.888,-0.020,8.904,59.600,0.0450,1
1516945,15169450,-0.014,8.890,8.876,-0.022,8.892,59.600,0.0425,1
1516946,15169460,-0.012,8.876,8.864,-0.022,8.878,59.550,0.0450,1
1516947,15169470,-0.014,8.860,8.848,-0.022,8.864,59.475,0.0425,1

In [15]:
data0 = data.loc[data['target'] == 0]
data0

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
561371,5613710,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561372,5613720,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561373,5613730,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561374,5613740,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561375,5613750,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
...,...,...,...,...,...,...,...,...,...
1171089,11710890,9.998,9.624,-0.006,-0.008,9.624,81.300,5.9750,0
1171090,11710900,10.038,9.670,-0.008,-0.008,9.668,81.500,5.9725,0
1171091,11710910,9.872,9.552,-0.006,-0.008,9.550,81.575,5.8475,0
1171092,11710920,9.930,9.582,-0.006,-0.010,9.580,81.825,5.9300,0
1171093,11710930,9.964,9.614,-0.006,-0.008,9.614,81.850,5.9400,0

In [16]:
data1 = data1.iloc[:6951]
data1

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
0,0,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1
1,10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1
2,20,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1
3,30,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1
4,40,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1
...,...,...,...,...,...,...,...,...,...
6946,69460,-0.008,9.330,9.316,-0.020,9.332,57.700,3.7350,1
6947,69470,-0.010,9.222,9.208,-0.020,9.224,57.600,3.7225,1
6948,69480,-0.010,9.144,9.130,-0.020,9.144,57.500,3.7425,1
6949,69490,-0.010,9.124,9.110,-0.020,9.124,57.600,3.7275,1
6950,69500,-0.010,9.022,9.008,-0.020,9.024,57.525,0.0425,1

In [17]:
data_final = pd.concat([data0, data1])
data_final

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
561371,5613710,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561372,5613720,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561373,5613730,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561374,5613740,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
561375,5613750,-0.018,8.248,8.238,-0.024,8.248,49.450,0.0400,0
...,...,...,...,...,...,...,...,...,...
6946,69460,-0.008,9.330,9.316,-0.020,9.332,57.700,3.7350,1
6947,69470,-0.010,9.222,9.208,-0.020,9.224,57.600,3.7225,1
6948,69480,-0.010,9.144,9.130,-0.020,9.144,57.500,3.7425,1
6949,69490,-0.010,9.124,9.110,-0.020,9.124,57.600,3.7275,1
6950,69500,-0.010,9.022,9.008,-0.020,9.024,57.525,0.0425,1

In [18]:
from sklearn.utils import shuffle

In [19]:
data_final_ok = shuffle(data_final)
data_final_ok

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,target
890604,8906040,-0.016,8.510,8.500,-0.020,8.514,60.675,0.0425,0
563889,5638890,6.512,8.784,-0.010,1.302,8.786,73.725,5.2325,0
889623,8896230,-0.012,9.346,9.332,-0.024,9.344,66.475,3.7475,0
839733,8397330,9.714,9.318,-0.012,-0.020,9.316,62.125,5.9675,0
698,6980,-0.012,8.490,8.476,-0.024,8.490,51.225,0.0375,1
...,...,...,...,...,...,...,...,...,...
2454,24540,-0.012,8.412,8.396,-0.022,8.410,55.100,0.0375,1
1434,14340,-0.014,9.256,9.242,-0.024,9.258,52.575,0.0425,1
1674,16740,-0.014,8.482,8.468,-0.024,8.482,51.825,0.0375,1
1039,10390,-0.014,9.152,9.136,-0.024,9.152,52.600,0.0400,1
6771,67710,-0.012,9.864,9.852,-0.018,9.862,58.100,3.8100,1

In [20]:
X1 = data_final_ok.drop(['target'], axis=1)  # Исключаем столбец с датами
y1 = data_final_ok['target'].astype(int)  # Преобразуем тип данных в int

# Обработка отсутствующих значений
imputer = SimpleImputer(strategy='mean')
X1 = imputer.fit_transform(X1)

# Разделение данных на обучающую и тестовую выборки
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
X1

array([[ 8.90604e+06, -1.60000e-02,  8.51000e+00, ...,  8.51400e+00,
         6.06750e+01,  4.25000e-02],
       [ 5.63889e+06,  6.51200e+00,  8.78400e+00, ...,  8.78600e+00,
         7.37250e+01,  5.23250e+00],
       [ 8.89623e+06, -1.20000e-02,  9.34600e+00, ...,  9.34400e+00,
         6.64750e+01,  3.74750e+00],
       ...,
       [ 1.67400e+04, -1.40000e-02,  8.48200e+00, ...,  8.48200e+00,
         5.18250e+01,  3.75000e-02],
       [ 1.03900e+04, -1.40000e-02,  9.15200e+00, ...,  9.15200e+00,
         5.26000e+01,  4.00000e-02],
       [ 6.77100e+04, -1.20000e-02,  9.86400e+00, ...,  9.86200e+00,
         5.81000e+01,  3.81000e+00]])

In [22]:
y1

890604    0
563889    0
889623    0
839733    0
698       1
         ..
2454      1
1434      1
1674      1
1039      1
6771      1
Name: target, Length: 13902, dtype: int32

In [23]:
X1 = preprocessing.normalize(X1, norm='l2')
X1

array([[ 1.00000000e+00, -1.79653359e-09,  9.55531302e-07, ...,
         9.55980436e-07,  6.81279222e-06,  4.77204234e-09],
       [ 1.00000000e+00,  1.15483721e-06,  1.55775339e-06, ...,
         1.55810807e-06,  1.30743817e-05,  9.27930852e-07],
       [ 1.00000000e+00, -1.34888599e-09,  1.05055737e-06, ...,
         1.05033256e-06,  7.47226634e-06,  4.21245854e-07],
       ...,
       [ 9.99994823e-01, -8.36315862e-07,  5.06687938e-04, ...,
         5.06687938e-04,  3.09586211e-03,  2.24013177e-06],
       [ 9.99986023e-01, -1.34743064e-06,  8.80834657e-04, ...,
         8.80834657e-04,  5.06248939e-03,  3.84980182e-06],
       [ 9.99999598e-01, -1.77226336e-07,  1.45680048e-04, ...,
         1.45650510e-04,  8.58070841e-04,  5.62693615e-05]])

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [25]:
from sklearn.model_selection import GridSearchCV

In [26]:
# Задание сетки гиперпараметров для перебора
param_grid = {
    'penalty': ['l1', 'l2'],  # Регуляризация (L1 и L2)
    'C': [0.1, 1, 10],  # Коэффициент регуляризации
    'solver': ['liblinear', 'saga']  # Метод оптимизации
}

# Создание модели логистической регрессии
model = LogisticRegression()

# Создание объекта GridSearchCV для подбора гиперпараметров
grid_search = GridSearchCV(model, param_grid, scoring='precision', cv=5)

# Поиск оптимальных гиперпараметров
grid_search.fit(X_train, y_train)

# Вывод наилучших гиперпараметров
print("Наилучшие гиперпараметры: ", grid_search.best_params_)

# Оценка точности модели с наилучшими гиперпараметрами
best_model = grid_search.best_estimator_
train_accuracy = best_model.score(X_train, y_train)
test_accuracy = best_model.score(X_test, y_test)
y_pred = best_model.predict(X_test)
precision = precision_score(y_test, y_pred, pos_label=0)

# Вывод оценок точности
print("Точность на обучающей выборке:", train_accuracy)
print("Точность на тестовой выборке:", test_accuracy)
print("Точность предсказания класса 0:", precision)

e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
e:\py\katyauirs2\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Наилучшие гиперпараметры:  {'C': 0.1, 'penalty': 'l1', 'solver': 'liblinear'}
Точность на обучающей выборке: 0.6309684380900998
Точность на тестовой выборке: 0.6350233728874506
Точность предсказания класса 0: 0.5737085258294834

In [27]:
precision1 = precision_score(y_test, y_pred, pos_label=1)
print("Точность предсказания класса 1:", precision1)

Точность предсказания класса 1: 1.0

In [28]:
y_test

5173      1
840548    0
5201      1
5681      1
890660    0
         ..
3633      1
561553    0
561733    0
886       1
562159    0
Name: target, Length: 2781, dtype: int32

In [29]:
y_test.loc[y_test == 0].count()

1366

In [30]:
y_test.loc[y_test == 1].count()

1415