In [26]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [16]:
data = pd.read_csv('MetroPT3(AirCompressor).csv')

In [17]:
data.head(4)

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [18]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1516948.0,7.584735e+06,4.379053e+06,0.000,3792367.500,7584735.000,1.137710e+07,1.516947e+07
TP2,1516948.0,1.367826e+00,3.250930e+00,-0.032,-0.014,-0.012,-1.000000e-02,1.067600e+01
TP3,1516948.0,8.984611e+00,6.390951e-01,0.730,8.492,8.960,9.492000e+00,1.030200e+01
H1,1516948.0,7.568155e+00,3.333200e+00,-0.036,8.254,8.784,9.374000e+00,1.028800e+01
DV_pressure,1516948.0,5.595619e-02,3.824015e-01,-0.032,-0.022,-0.020,-1.800000e-02,9.844000e+00
Reservoirs,1516948.0,8.985233e+00,6.383070e-01,0.712,8.494,8.960,9.492000e+00,1.030000e+01
Oil_temperature,1516948.0,6.264418e+01,6.516261e+00,15.400,57.775,62.700,6.725000e+01,8.905000e+01
Motor_current,1516948.0,2.050171e+00,2.302053e+00,0.020,0.040,0.045,3.807500e+00,9.295000e+00
COMP,1516948.0,8.369568e-01,3.694052e-01,0.000,1.000,1.000,1.000000e+00,1.000000e+00
DV_eletric,1516948.0,1.606106e-01,3.671716e-01,0.000,0.000,0.000,0.000000e+00,1.000000e+00
Towers,1516948.0,9.198483e-01,2.715280e-01,0.000,1.000,1.000,1.000000e+00,1.000000e+00
MPG,1516948.0,8.326640e-01,3.732757e-01,0.000,1.000,1.000,1.000000e+00,1.000000e+00
LPS,1516948.0,3.420025e-03,5.838091e-02,0.000,0.000,0.000,0.000000e+00,1.000000e+00
Pressure_switch,1516948.0,9.914368e-01,9.214078e-02,0.000,1.000,1.000,1.000000e+00,1.000000e+00
Oil_level,1516948.0,9.041556e-01,2.943779e-01,0.000,1.000,1.000,1.000000e+00,1.000000e+00
Caudal_impulses,1516948.0,9.371066e-01,2.427712e-01,0.000,1.000,1.000,1.000000e+00,1.000000e+00

In [19]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [20]:
data.head(4)

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [21]:
data = data.drop(['COMP', 'DV_eletric', 'Towers', 'MPG', 'LPS', 'Pressure_switch', 'Oil_level', 'Caudal_impulses'], axis = 1)

In [22]:
data.head(4)

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400

In [25]:
data_to_normalize = data.drop('timestamp', axis=1)

# Создание объекта нормализатора
scaler = MinMaxScaler()

# Применение нормализации к данным
normalized_data = scaler.fit_transform(data_to_normalize)

# Создание нового датафрейма с нормализованными данными
normalized_data = pd.DataFrame(normalized_data, columns=data_to_normalize.columns)

# Объединение столбца 'timeshtamp' и нормализованных данных
final_data = pd.concat([data['timestamp'], normalized_data], axis=1)

# Вывод окончательного датафрейма
final_data.head(4)

,timestamp,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current
0,2020-02-01 00:00:00,0.000000e+00,0.001868,0.901379,0.908175,0.000810,0.901752,0.518669,0.002156
1,2020-02-01 00:00:10,6.592188e-07,0.001681,0.900334,0.907400,0.001013,0.900709,0.519688,0.002156
2,2020-02-01 00:00:19,1.318438e-06,0.001868,0.899290,0.906432,0.001013,0.899666,0.518669,0.002426
3,2020-02-01 00:00:29,1.977656e-06,0.001868,0.898245,0.905463,0.001013,0.898623,0.516293,0.002156

In [ ]:
data_for_clustering = final_data.drop('timestamp', axis=1)

# Пустые списки для сохранения значений инерции и коэффициента силуэта
inertias = []
silhouette_scores = []

# Попробовать различные значения количества кластеров от 2 до 10
for n_clusters in range(2, 11):
    # Применение алгоритма K-means
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    kmeans.fit(data_for_clustering)
    
    # Сохранение инерции и коэффициента силуэта
    inertias.append(kmeans.inertia_)
    silhouette_scores.append(silhouette_score(data_for_clustering, kmeans.labels_))

# Визуализация метода локтя
plt.plot(range(2, 11), inertias, marker='o')
plt.xlabel('Количество кластеров')
plt.ylabel('Инерция')
plt.title('Метод локтя')
plt.show()

# Визуализация метода силуэта
plt.plot(range(2, 11), silhouette_scores, marker='o')
plt.xlabel('Количество кластеров')
plt.ylabel('Коэффициент силуэта')
plt.title('Метод силуэта')
plt.show()

e:\py\katyauirs2\venv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(